body {
    background-image: linear-gradient(to right top, #051937, #00466d, #007aa1, #00b1cc, #12ebeb);
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: monospace;
}

::placeholder {
    color: white;
}

h1 {
    margin-top: 0;
    padding: 1rem;
    color: rgba(245, 245, 245, 0.884);
    margin: 0 10%;
    border-bottom: 3px solid rgba(255, 255, 255, 0.836);
    text-align: start;
}

.header {
    font-size: 1.3rem;
    font-weight: lighter;
    text-align: center;
}

#contenedor_qr {
    display: flex;
    margin: 0 15%;
    justify-content: center;
    align-items: center;
}

.qr {
    padding-top: 2rem;
}

#obtenerDatos {
    margin: 0 15%;
}

.contenedor {
    margin-top: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#url {
    font-size: 1.1rem;
    background-color: rgba(128, 128, 128, 0);
    color: rgb(212, 212, 212);
    padding: 0.6rem;
    border-radius: 3px;
    border: none;
}

#url:focus {
    background-color: rgba(85, 85, 85, 0.671);
    outline: none;
    border-bottom: 3px solid rgb(218, 218, 218);
}
#generar {
    font-size: 1.2rem;
    margin: 1rem;
    background-color: #007aa1;
    color: white;
    border: none;
    padding: 0.7rem;
    border-radius: 5px;
    font-weight: 600;
}

#generar:hover {
    background-color: #10a9db;
    cursor: pointer;
    color: rgb(61, 61, 61);
}

#descargar{
    background-color: #10a9db;
    display: none;
    border: none;
    border-bottom: 1px solid black;
    padding: 0.5rem 0.7rem;
    border-radius: 5px;
}
#descargar:hover{
    cursor: pointer;
}
ion-icon{
    font-size: 1.5rem;
}